body  {
    background-color: #3c344c;
}
.wrapper {
  display: grid;
  gap: 10px;
  grid-template-rows: 6vh 17vh 70vh;
  grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
  margin: 1rem 1rem;
  grid-template-areas:
    "zero zero zero zero"
    "one one one one"
    "two three four five";
}
.zero{
    grid-area: zero;
}
.zero img {
    height: 100%;
    object-fit: cover;
}
.hamburger-menu {
    float: right;
}
.one {
  grid-area: one;
  background-color: #d3d3d3;
  border-radius: 10px;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 13vh;
  grid-template-columns: 15vh;
  grid-template-areas: "profile-pic candidate-details";
}
.profile-pic {
  grid-area: profile-pic;
  width: 13vh; 
  height: 13vh;
  border-radius: 10px;
}
.candidate-details{
  grid-area: candidate-details;
  display: inline-block;
  
}
.candidate-details h3 {
  margin: 0 0.5rem;
  vertical-align: middle;
}
.candidate-details p {
  margin: 0 0.5rem;
  display: inline-block;
}
.candidate-details button {
  display: inline-block;
  margin-left: 93%;
  padding: 0.7rem;
}
.two {
background-color: #d3d3d3;
  display: grid;
  gap: 10px;
  padding: 0.5rem;
  grid-area: two;
  grid-template-rows: 5% auto;
  grid-template-areas:
    "two-header"
    "two-body";
    overflow:auto;
}
.two-header {
    font-weight: bold;
  grid-area: two-header;
  padding: 0.5rem;
}
.two-body { 
  grid-area: two-body;
  padding: 0.5rem;
}
.blocks {
    background-color: #8f6bd6;
    border-radius: 0.3rem;
    height: minmax(30%, auto);
    margin: 1rem;
}
.block-header {
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
.block-body {
    text-align: center;
    padding: 5px;
}
.three {
    background-color: #d3d3d3;
    display: grid;
  gap: 10px;
  grid-template-rows: 5% auto;
  padding: 0.5rem;
  grid-area: three;
  grid-template-areas:
    "two-header"
    "two-body";
    overflow:auto;
}
.four {
    background-color: #d3d3d3;
    display: grid;
  gap: 10px;
  grid-template-rows: 5% auto;
  padding: 0.5rem;
  grid-area: four;
  grid-template-areas:
    "two-header"
    "two-body";
    overflow:auto;
}
.five {
    background-color: #d3d3d3;
    display: grid;
  gap: 10px;
  grid-template-rows: 5% auto;
  padding: 0.5rem;
  grid-area: five;
  grid-template-areas:
    "two-header"
    "two-body";
    overflow:auto;
}

@media only screen and (max-width: 600px)  {
  .wrapper {
    display: grid;
    gap: 10px;
    grid-template-rows: 6vh 17vh minmax(min-content, 60vh) minmax(min-content, 60vh) minmax(min-content, 60vh) minmax(min-content, 60vh);
    grid-template-columns: 100%;
    margin: 1rem 1rem;
    grid-template-areas:
      "zero"
      "one"
      "two"
      "three"
      "four"
      "five";
  }
}