body  {
    background-color: #3c344c;
}
.wrapper-homepage {
  display: grid;
  gap: 10px;
  grid-template-rows: 6vh 87vh;
  grid-template-columns: 49.5% 49.5%;
  margin: 1rem 1rem;
  grid-template-areas:
    "header-homepage header-homepage"
    "body-homepage body-homepage";
}

.header-homepage {
    grid-area: header-homepage;
}
.header-homepage img {
    height: 100%;
}
.hamburger-menu {
    float: right;
}
.signup-login {
    float: right;
    height: 90%;
    border-radius: 10px;
    width: 5rem;
    margin: 0.1rem 0.5rem;
    font-size: 18px;
}
.body-homepage {
    grid-area: body-homepage;
}
.body-homepage h1{
    color: white;
    
}
.body-homepage h3{
    color: white;
}
.body-homepage p{
    color: white;
    display: inline-block;
    width: 85vh;
}
.body-homepage img{
    width: 85vh;
    display: inline-block;
    margin: 1rem;
    border-radius: 20px;
}

